In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [14]:
dataset = pd.read_csv('Social_Network_Ads.csv')

In [15]:
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [16]:
#去掉第一列
dataset = dataset.iloc[:,1:]

In [17]:
dataset.head()

   Gender  Age  EstimatedSalary  Purchased
0    Male   19            19000          0
1    Male   35            20000          0
2  Female   26            43000          0
3  Female   27            57000          0
4    Male   19            76000          0

In [18]:
#去掉第一列
dataset = dataset.iloc[:,1:]

In [19]:
dataset.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [20]:
X=dataset[['Age','EstimatedSalary']]
y = dataset['Purchased']

In [21]:
print(X)

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [22]:
print(y)

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [23]:
#划分训练集和测试集
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25)

In [24]:
from sklearn import linear_model
#逻辑回归，拟合
lr = linear_model.LogisticRegression()
lr.fit(X_train,y_train)

LogisticRegression()

In [26]:
#预测
y_pred = lr.predict(X_test)

#正确率
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.62

In [28]:
# 为dataset增加一列消费年金为收入*一个0-1之间的实数
dataset['Consumed'] = dataset['EstimatedSalary'] * np.random.rand()

In [29]:
dataset.head()

   Age  EstimatedSalary  Purchased     Consumed
0   19            19000          0   857.268614
1   35            20000          0   902.388015
2   26            43000          0  1940.134232
3   27            57000          0  2571.805842
4   19            76000          0  3429.074456

In [30]:
X=dataset[['Age','EstimatedSalary','Consumed']]
y = dataset['Purchased']

In [31]:
#划分训练集和测试集
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25)

In [32]:
from sklearn import linear_model
#逻辑回归，拟合
lr = linear_model.LogisticRegression()
lr.fit(X_train,y_train)

LogisticRegression()

In [33]:
#预测
y_pred = lr.predict(X_test)

In [34]:
#正确率
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.6